/* CSS for HTML page. */


body{
    
    font-size: 1em;
    line-height: 1.6em;
    max-lines: 30px;
    font-family: 'Mada', arial, sans-serif;
    margin: 0px auto;
    width: 1000px;
    background-color:#678C30;

}


h1{
    Font-family: 'Mada', Georgia, sans-serif;
    
    
    
}



article.first{
    padding-top:30px;
    padding-bottom:50px;
}

article.second{
   
    padding-top: 170px;
    height: 400px;
}

article.third{
    padding-top: 160px;
    height: 400px;
}

article.four{
    padding-top: 160px;
    height: 400px;
}

.fig{
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 2px;
    
}





p{
    color:#222601;
    overflow: hidden;
    padding-right: 25px;
    text-align: justify;
    font-family: 'Mada', Georgia, sans-serif;
   
}

main{
     
    padding-top:160px;
    padding-bottom: 50px;
    background:white;
    height: 2300px;
   
    
    
}






header{
    background: white;
    padding-top:px;
    background-image: url(images/HEADER.png);
    background-position: 50% 50%;
   background-repeat: repeat-x;
   height: 207px;
}


 ul{
    margin: 0px;
    padding: 7px 5px 7px 230px;
}
li {
    display: inline;
    margin: 50px;
    
    
}
li a {
    color: white;
    text-decoration: none;
    
    
}

nav {
    background-color: #214001;
    height: 35px;
    border-bottom:3px solid black;
    border-top:3px solid black;
    
   
    
    
}



  


 figcaption{
  margin-left:2px;
  font-family:'Mada', helvetica, sans-serif;
  
 
}

footer{
    background-color: #214001;
    text-align: center;
    height: 30px;
    border-bottom:3px solid black;
    border-top:3px solid black;
    
   

}

footer p {
    color: white;
    text-align: center;
   margin-top:5px;
    
}







